@import "leaflet/dist/leaflet.css";

@import "tailwindcss";

/* For modern browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* background of the scrollbar track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll thumb */
  border-radius: 4px;
  border: 2px solid #1f1f1f; /* padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1f1f1f;
}
